In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

C:\Users\aks13\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [4]:
tickers = ['PG','BEI.DE']
data  = pd.DataFrame()
for t in tickers:
    data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [5]:
data.head()

                   PG     BEI.DE
Date
2007-01-03  43.143341  39.576427
2007-01-04  42.815781  39.836281
2007-01-05  42.448109  39.017349
2007-01-08  42.541702  39.025219
2007-01-09  42.434750  38.143303

In [9]:
returns = np.log(data / data.shift(1))
returns.head()

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858

In [14]:
returns['PG'].mean()

0.0002925010555275492

In [16]:
returns['PG'].mean()*250

0.07312526388188731

In [18]:
returns['PG'].std()

0.011958429998009236

In [21]:
returns['PG'].std()*250 ** 0.5

0.18907938016696002

In [22]:
returns['BEI.DE'].mean()

0.0002479240365699525

In [23]:
returns['BEI.DE'].mean()*250

0.06198100914248812

In [24]:
returns['BEI.DE'].std()

0.013773597716189889

In [26]:
returns['BEI.DE'].std()*250 ** 0.5

0.21777970179026748

In [28]:
returns[['PG','BEI.DE']].mean()*250

PG        0.073125
BEI.DE    0.061981
dtype: float64

In [29]:
returns[['PG','BEI.DE']].std()*250 ** 0.5

PG        0.189079
BEI.DE    0.217780
dtype: float64